body{
  position: relative;
  width:100vw;
  height:100vh;
}

._index__video-scene-container{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}@import "vars/controls-outer-margin";
@import "vars/relative-z-indicies";

._verse_three_VideoScene__root {
    position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
    cursor: move;
    cursor: grab;
    ._verse_three_VideoScene__video-scene--heading{
        position: fixed;
        margin-bottom: var(--controls-outer-margin);
        bottom: 40px;
        right:var(--controls-outer-margin);
        user-select:none;
        cursor: auto;
    }
}

.screenshot {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: var(--control-button-z-index);
    /*background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

._verse_three_VideoScene__root:active{
    cursor: grabbing;
}

._verse_three_VideoScene__hoveringItem {
    cursor: pointer;
}

